.h1 {
	font-size: 34px;
	letter-spacing: 0.374px;
}

.h2 {
	font-size: 28px;
	letter-spacing: 0.364px;
}

.h3 {
	letter-spacing: 0.35px;
	font-size: 22px;
}

.bold {
	font-weight: 700;
}

.regular {
	font-weight: 400;
}
