.wrapper {
	max-width: 400px;
	position: relative;
}

.label {
	width: 100%;
}
.field {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 0;
	padding-right: 40px;
	outline: none;
	border: none;
	font-family: inherit;
	width: 100%;
	font-size: 17px;
	letter-spacing: -0.408px;
	caret-color: var(--color-primary);
	&::placeholder {
		font-size: 17px;
		letter-spacing: -0.408px;
	}
}
.light {
	color: var(--color-black);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #c6c6c8;
	transition: border-color 0.25s ease-in-out;
	&::placeholder {
		color: rgba(60, 60, 67, 0.6);
	}
}

.light:focus {
	border-color: var(--color-primary);
}

.dark {
	background-color: #1c1c1e;
	color: var(--color-white);
	text-indent: 10px;
	&::placeholder {
		color: rgba(235, 235, 245, 0.6);
	}
}

.field .error {
	margin-top: 2px;
	color: #ff453a;
}
.clearBtn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	width: 17px;
	height: 17px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	> svg {
		width: 14px;
		height: 14px;
	}
}

.clearLight {
	background-color: #8e8e93;
	> svg {
		fill: var(--color-white);
	}
}

.clearDark {
	background-color: #8e8e93;
	> svg {
		fill: var(--color-black);
	}
}
